*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration:none;
  font-size: 14px;
  line-height: 1.5;
  color: #444;
  font-family: Verdana,Arial,\\5FAE\8EDF\6B63\9ED1\9AD4,Microsoft JhengHei,\\5FAE\8EDF\96C5\9ED1\9AD4,Microsoft YaHei;
}
